/* CSS reset and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #fff; /* White background color */
    color: #000; /* Black text color */
}

header {
    text-align: center;
    margin: 20px 0;
}

.section {
    border: 2px solid black;
    padding-top: 36px;
    padding: 20px;
    margin: 10px;
    position: relative;
    background-color: #ccc; /* Gray background color */
    text-align: center; /* Center align text */
}

.section-title {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    border: 2px solid black;
    font-size: 1.25em;
}

/* Specific styles for each section */
#title-chicken {
    background-color: #d1ecf1; /* Light blue background color */
}

#title-beef {
    background-color: #d4edda; /* Light green background color */
}

#title-sushi {
    background-color: #ffeeba; /* Light yellow background color */
}

/* Responsive layout */
@media (min-width: 992px) {
    .section {
        float: left;
        width: 30%;
        margin-left: 1.66%;
        margin-right: 1.66%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 48%;
        float: left;
        position: relative; /* Reset position for section */
    }
    

    /* Specific adjustments for tablet */
    .sushi {
        width: calc(100% - 22px); /* Adjust width as needed */
        margin-left: 1.66%;
        margin-right: 1.66%;
    }

    .section-title {
        top: 10px;
        right: 10px;
    }
}

@media (max-width: 767px) {
    .section {
        width: 100%;
        position: relative; /* Reset position for section */
        text-align: center; /* Center align text */
        padding: 10px; /* Add padding to text for spacing */
    }

    .section-title {
        top: 10px;
        right: 10px;
    }
}
